<div class="container">
    <div class="textSrcoll">
         <div class="messageBox"  *ngFor="let message of messages">
                 <div [ngClass]="{'textBoxSend': message.id === id , 'textBoxRecived': message.id !== id}">
                     <p  [ngClass]="{'sent': message.id === id , 'recived': message.id !== id}" >{{message.messages}}</p>
                </div>
            </div>
        </div>
        <div>
            <form (submit)="onButtonSend(messageForm)" #messageForm="ngForm" class="inputForm">
                <input type="text" name="messageChat" ngModel class="inputField" required >
                <button type="submit" class="button">SEND</button>
             </form>
        </div>
</div>
