<div class="container">
  <div class="textSrcoll">
    <div class="messageBox" *ngFor="let message of messages">
      <div [ngClass]="{'textBoxSent': message.id === id , 'textBoxRecived': message.id !== id}">
        <p [ngClass]="{'sent': message.id === id , 'recived': message.id !== id}">{{message.messages}}</p>
      </div>
    </div>
  </div>
  <div>
    <form [formGroup]="form" (submit)="onButtonSend()"  class="inputForm">
      <input type="text" name="messageChat" formControlName="messageChat" ngModel class="inputField" required>
      <button type="submit" class="button">SEND</button>
    </form>
  </div>
</div>
